@import './variables.scss';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p{
  color: azure;
}
.my-app-layout {
  font-family: Regular;
  background-color: $main-bg-color;
  color: $main-color;
  min-height: 100vh;  /* Ensures the height of the app layout is always at least the height of the viewport */
  display: flex;      /* Use flexbox to structure the layout */
  flex-direction: column;
  
}

.my-app-container {
  width: 100%;
  display: flex;
  flex-grow: 1;   
       /* Allows the container to grow and fill the remaining height */
}
html, body {
  height: 100%;
  overflow-x: hidden;  /* Prevent horizontal overflow, but allow vertical */
}
.my-menu-container {
  width: 250px !important;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg-color;
}
.my-menu-container-mobile {
  width: 80px !important;
    padding: 5px 20px;
  border-right: 2px solid $soft-bg-color;
}

.my-app-layout-content {
  padding: 5px 20px;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;  /* Enable vertical scrolling if content overflows */
}