@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";

.clock-container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    background-color: 'transparent';
    .clock {
    color: $soft-color;
    font-family: Sans-Bold;
  }
}